body {
    background-color:rgb(255, 255, 255);
}
.center {
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    display: block;
    float: center;
}
.logo {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
.button {
    font-size: 14px;
    font-family: arial, sans-serif;
    color:#222;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
}
.button:hover {background:#eee}
.center{
    margin:0;
    position: relative;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: inherit;
    overflow:hidden;
}
.signIn {
    background-color: #4583;
    color:white;
    text-align: center;
    border: none;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 2px;
    font-size:13px;
    font-weight:bold;
    margin: 0px 15px;
}
li {
    float: left;
}
li:hover {text-decoration: underline;}
a {
    display: block;
    padding: 8px;
    font-size: 14px;
    font-family: arial, sans-serif;
    color:#222;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.botNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: color #f2f2f2;;
    overflow:hidden;
    position: sticky;
    bottom: 0;
}